@import "../style/variable.scss";
@import "../style/mixin.scss";

.main_apropos{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom:50px ;
    width: 65%;
    &__collapse{
        display: flex;
        flex-direction: column;
        gap: 30px;
        @include mobile_responsive {
            gap: 20px;
        }
    }
    @include mobile_responsive {
        width: 95%;
        margin-bottom:10px ;
        margin-top: 25px; 
    }
}