
.home {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center ;
    flex-direction: column;
    width: 65%;
    @media (max-width:390px) {
        width: 100%;
        margin-top: 25px;
    }
    &__section{
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: flex-start;
          background-color: #F6F6F6;
          border-radius: 25px;
          gap: 50px;
          padding-top: 55px;
          margin-bottom: 50px;
          padding-left: 55px;
          @media (max-width:390px) {
            width: 335px; 
            padding-top: 0px;
            padding-left: 0px;      
            gap: 22px;  
        }

    }
}