.logement {
    width: 66%;
    margin-top: 40px;
    margin-bottom: 40px;

    @media (max-width:390px){
        width: 90%;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    &__global{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        &__items {
            display: flex;
            flex-direction: column;

            @media (max-width:390px){
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            }
            h2{
                color: #FF6060;
                font-size: 36px;
                font-weight: 500;
                margin: 0;
                margin-top: 30px;

                @media (max-width:390px){
                    font-size: 18px;
                    font-weight: 500;
                    width: 90%;
                }
            }

            &__title {
                display: flex;
                flex-direction: column;
                margin-bottom: 20px;
                @media (max-width:390px){
                    width: 100%;
                }

                p{
                    line-height: 26px;
                    margin: 0;
                    margin-top: 10px;
                    font-size: 18px;

                    @media (max-width:390px){
                        font-size: 14px;
                        margin-top: 5px;
                    }
                }
            }
            &__tags {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 10px;
            }

            &__customer{
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                gap: 45px;
            }
        }
    }
    &__collapse {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 15px;
        h2{
            font-size: 18px;
        }
    }
    
}


