$primary_color : #FF6060;
$secondary_color: #F6F6F6;
$terciary_color: white;

$mediaquery_mobile: 390px;

$font_size:(
    "mobile_text": 12px,
    "text": 18px,
    "mobile_title": 18px,
    "title": 24px
);

$border_radius:(
    "large": 25px,
    "medium": 10px,
    "small": 5px,
)
